<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Página inicial</title>
    </head>
    <body>
        <h1>Página de Cadastro</h1>
        <hr>
        <form action="{{ url_for('cadastro')}}" method="POST">
            <table>
                <tr>
                    <td>Nome</td>
                    <td><input type="text" name="nome"></td>
                </tr>
                <tr>
                    <td>Telefone</td>
                    <td><input type="text" name="telefone"></td>
                </tr>
                <tr>
                    <td>Cpf</td>
                    <td><input type="text" name="cpf"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"></td>
                </tr>
            </table>
            <br/>
            <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>